{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif %}

<div class="cover-card table-cell table-middle">
  {% if author.avatar %}
  <a href="{{ site.url }}/">
    <img src="{{ site.url }}/img/{{ author.avatar }}" alt="" class="avatar">
  </a>
  {% endif %}
  <a href="{{ site.url }}/" class="author_name">{{ author.name }}</a>
  <span class="author_job">{{ author.job }}</span>
  <span class="author_bio mbm">{{ author.bio }}</span>
  <nav class="nav">
    <ul class="nav-list">
      {%- comment -%}
        we're having archive, categories, resume, tags, todayilearned
      {%- endcomment -%}
      <li class="nav-item">
        <a href="{{ site.url }}">home</a>
      </li>

      <li class="nav-item">
        <a href="{{ site.url }}/todayilearned">today i learned</a>
      </li>

      <li class="nav-item">
        <a href="{{ site.url }}/resume">resume</a>
      </li>

      {%- comment -%} {% for page in site.pages %}
        {% if page.title %}
          <li class="nav-item">
            <a href="">hihih</a>
          </li>
        {% endif %}
      {% endfor %} {%- endcomment -%}
    </ul>

    <ul class="nav-list">
      <li class="nav-item">
        <a href="{{ site.url }}/categories">categories</a>
      </li>

      <li class="nav-item">
        <a href="{{ site.url }}/tags">tags</a>
      </li>

      <li class="nav-item">
        <a href="{{ site.url }}/archive">archive</a>
      </li>
    </ul>
  </nav>
  {% include social-links.html %}
</div>
